div {
    border:1px solid #000000;
}

html, body {
    margin:0;
    padding: 0;
    height: 100%;
    background-color: #cccccc;
}
.card{
    width:264px ;
    height: 440px; 
    background-color: #ffffffff;
}
.img-card{

    width:264px ;
    height: 168px;
    margin-top:50px;
    }


.descricao{
    font-size: 20px;
    font-family: impact ;
    font-weight: border;
    margin-bottom: 50px;
    padding: 10px 5px;
    color:#000000
}
.preço{
    font-size: 25px;
    font-family: impact;
    font-weight: border;
    color: #0b08b9;
    padding: 18px 5px;
}
.pagamento{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 5px;
    font-size: 15px;
}

.botao-card{
    background-color: #09508a;
    color: rgb(21, 78, 124);
    font-weight: bold;
    width: 100%;
    height: 50px;
    font-size: 25px;
    text-align: center;
    font-family: Arial;
}
.botao-comprar{
    padding: 10px 5px;
}
.menu{
    background-color: #666666;
    color:#ffffff;
    border: 1px solid;
    display: flex;
}
.item-menu{
    list-style: none;
    padding: 10px 20px;
}
.item-menu:hover{
background-color: #999999;
}
.link-menu{
    text-decoration: none;
    color:#ffffffff;
    font-weight: bold;

}
 main{
    display: flex;
    flex-wrap: wrap;
}